<?xml version="1.0"?>

<model>
  <name>basketball_court</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ángel Manuel Montes Romero</name>
    <email>amontesromero@us.es</email>
  </author>
  <maintainer>
    <name>Ángel Manuel Montes Romero</name>
    <email>amontesromero@us.es</email>
  </maintainer>

  <description>
    Textured plane of the basket court placed on the ETSI of Seville (a.k.a. the "Plaza del Agua"). This basketball court is covered by a net in order to use it to fly UAVs respecting drone regulations.
  </description>

</model>
