<?xml version="1.0"?>
<model>
  <name>basketball_hoop</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Ángel Manuel Montes Romero</name>
    <email>amontesromero@us.es</email>
  </author>
  <maintainer>
    <name>Ángel Manuel Montes Romero</name>
    <email>amontesromero@us.es</email>
  </maintainer>

  <description>
    Basketball hoop with the logo of the ETSI of Seville.
  </description>
</model>
