<?xml version="1.0"?>

<model>
  <name>simple_test_collision</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Damián Pérez</name>
    <email>damianperez8@gmail.com</email>
  </author>

  <description>
    A simple scenario for collision avoidance.
  </description>

</model>
