<?xml version="1.0"?>

<model>
  <name>Karting Sevilla</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alfonso Alcántara Marín</name>
    <email>aamarin@us.es</email>
  </author>
  <maintainer>
    <name>Alfonso Alcántara Marín</name>
    <email>aamarin@us.es</email>
  </maintainer>

  <description>
    Karting Sevilla textured plane.
  </description>

</model>
