<?xml version="1.0"?>
<model>
  <name>karting_3D</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Ángel Manuel Montes Romero</name>
    <email>amontesromero@us.es</email>
  </author>
  <maintainer>
    <name>Ángel Manuel Montes Romero</name>
    <email>amontesromero@us.es</email>
  </maintainer>

  <description>
    Karting 3D mesh built with photogrammetry. DJI platform, pilot: Rafael Salmoral Lorenzo-Arroyo.
    The model has also collisions.

    IMPORTANT: FIRST UNCOMPRESS THE MESH AND TEXTURE BEFORE USING THIS WORLD OR ELSE
    GAZEBO WON'T LOAD THE MODEL. Uncompress it by double clicking the file
    or doing the following in the terminal:

    roscd grvc_gazebo_worlds/models/karting_3D/meshes/
    tar -xJf Karting_3D.tar.xz
    rm Karting_3D.tar.xz
  </description>
</model>
