<?xml version="1.0"?>

<model>
  <name>burguillos_power_lines</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Álvaro Calvo Matos</name>
    <email>alvcalmat@us.es</email>
  </author>
  <maintainer>
    <name>Álvaro Calvo Matos</name>
    <email>alvcalmat@us.es</email>
  </maintainer>

  <description>
    Textured plane of the Burguillos Power Lines placed in Seville (37°33'50.5"N 6°00'09.9"W). This scenario is available to perform real life experiments.
  </description>

</model>
