<launch>

    <!-- Launch Gazebo simulation -->
	<rosparam param="/use_sim_time">true</rosparam>
    <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen"
    args="-physics=ode -world=$(find grvc_gazebo_worlds)/worlds/evora_solar_panel_farm.world
		  -add_model_path=$(find grvc_gazebo_worlds)/models
		  -description_package=robots_description">
		<rosparam param="sim_origin">[38.54100277777778, -7.961719444444443, 227.61875915527344]</rosparam>  <!-- [lat,lon,alt] -->
	</node>

</launch>
