<?xml version="1.0"?>

<model>
  <name>evora_solar_panel_farm</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alvaro Calvo Matos</name>
    <email>acalvom@us.es</email>
  </author>
  <maintainer>
    <name>Alvaro Calvo Matos</name>
    <email>acalvo@us.es</email>
  </maintainer>

  <description>
    Textured plane of the Evora solar planel farm in Portugal (38°32'27.61"N 7°57'42.19"W).
  </description>

</model>
